@using NEWS.Models
@model List<news>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Pref</th>
        <th>Descreption</th>
        <th>Date Time</th>
        <th>Catogery</th>
        <th>News Editor</th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.ID</td>
    <td>@item.Tittle</td>
    <td>@item.pref</td>
    <td>@item.Descr</td>
    <td>@item.date</td>
    <td>@item.category.NAME</td>
    <td>@item.user.Name</td>
</tr>
            }
</table>
