@using NEWS.Models
@model user 
@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container justify-content-around ">
    <h2 class="col-8 text-center">changepassword User</h2>
    <form method="post">
        <table>
            <tr>
                <td>@Html.Label("Oldpassword")</td>
                <td>@Html.PasswordFor(n => n.Password)</td>
                <td>@Html.ValidationMessageFor(n => n.Password)</td>
            </tr>

            <tr>
                <td>@Html.Label("New Password")</td>
                <td>@Html.Password("pass")</td>
                <td>

                    @if(ViewBag.pass != "")
                    {
                        @ViewBag.pass;
                    }
            </td>
        </tr>

        <tr><td></td><td>@if (ViewBag.message != "")
        {@ViewBag.message}</td></tr>

        <tr>
            <td>
                <input type="submit" value="save" class="btn btn-warning" />
            </td>
        </tr>
        </table>
    </form>
</div>


